$coda-purple: #3123ae !important;
$coda-bright-blue: #007af4 !important;
$light-gray: #3c4148 !important;
$background-gray: #1c1e22 !important;
$gray: #2c3035 !important;
$dark-gray: #25282d !important;
$darker-gray: #212529 !important;
$darkest-gray: #131517 !important;
$header-height: 70px;
