$coda-purple: #3123ae;
$coda-bright-blue: #007af4;
$light-gray: #3c4148;
$background-gray: #1c1e22;
$gray: #2c3035;
$dark-gray: #25282d;
$darker-gray: #212529;
$darkest-gray: #131517 !important;
$header-height: 70px;
